{% extends "base.html" %}

{% block content %}
  <h1>Inventory Forecast</h1>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Used</th>
        <th>Remaining</th>
      </tr>
    </thead>
    <tbody>
      {% for inventory in inventory_data %}
        <tr>
          <td>{{ inventory.date }}</td>
          <td>{{ inventory.item_name }}</td>
          <td>{{ inventory.quantity }}</td>
          <td>{{ inventory.quantity_used }}</td>
          <td>{{ inventory.remaining_stock }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
